.sort-list {
  display: none;
  position: absolute;
  width: 280px;
  padding-bottom: 9px;
  top: 732px;
  right: 40px;
  background-color: $color-white;
  z-index: 1;

  &.show {
    display: block;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 47px;
    column-gap: 5px;
    padding-right: 24px;
    padding-left: 24px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 0.71px;
    color: $color-black;
    cursor: pointer;

    &:hover,
    &:focus {
      background-color: $color-grass;
    }
  }

  @media (max-width: 768px) {
    width: 100%;
    height: 80vh;
    padding: 54px 0px;
    top: initial;
    right: 0;
    bottom: 0;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;

    &::before {
      content: "";
      position: absolute;
      width: 28px;
      height: 4px;
      top: 12px;
      left: 50%;
      border-radius: 2px;
      background-color: $color-black60;
      transform: translateX(-50%);
    }
  }
}