$color-white: rgb(255, 255, 255);
$color-white30: rgba(255, 255, 255, 0.3);
$color-gray-light: rgb(242, 242, 242);
$color-gray: rgb(196, 196, 196);
$color-gray30: rgb(196, 196, 196, 0.3);
$color-grass: rgb(123, 184, 153);
$color-black: rgb(31, 32, 32);
$color-black06: rgba(31, 32, 32, 0.06);
$color-black10: rgba(31, 32, 32, 0.1);
$color-black30: rgba(31, 32, 32, 0.3);
$color-black40: rgba(31, 32, 32, 0.4);
$color-black60: rgba(31, 32, 32, 0.6);
$color-black70: rgba(31, 32, 32, 0.7);
